@font-face {
  font-family: druk;
  src: url(druk-regular.woff2) format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: druk;
  src: url(hanson-bold.woff2) format('woff2');
  font-weight: bold;
}
html {
  --bg: #FCFCFC;
  --nav: #e6e6e6;
  --color-text: #000000;
  --background-color: #ffffff;
}
html[data-theme="dark"] {
  --bg: #0a0a0a;
  --nav: rgb(21,21,21);
  --color-text: #ffffff;
  --background-color: #161616;
}
body {
  font-family: druk;
  background-color: var(--bg);
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
* {
  user-select: none;
  -webkit-user-select: none;
  color: var(--color-text);
}
.navbar {
  background-color: var(--nav);
}
.navbar-brand {
  cursor: pointer;
}
#top {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#bottom {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.loader{
  background: var(--nav);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1201;
}
.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
 }
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 200ms;
  transition-delay: 0;
}
.title-page {
  background: linear-gradient(90deg, rgba(134,0,25,1) 0%, rgba(204,30,55,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#channels-select {
  width: 100%;
  height: 100%;
}
.dropdown-menu.show {
  display: flex;
}
.modal-content {
  background-color: var(--background-color);
}
.modal-content > * {
  border: none;
}
.modal-body {
  height: 100%;
}
#close > i {
  color: white;
}
#channel-section {
  display: flex;
}
#settings-section {
  display: none;
}
.channel-select {
  width: calc(8rem + 10%);
  height: 8.5rem;
  border-radius: 2rem;
  margin: 5px;
  cursor: pointer;
}
.channel-select > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.container-channels {
  place-content: space-around;
}
@media only screen and (max-width: 410px) {
  .video-js > * {
    padding: 2rem;
  }
  .container-channels {
    place-content: center;
  }
  .channel-select {
    width: calc(7rem + 8%);
    height: 5rem;
  }
  .channel-select > img {
    border-radius: 1rem;
  }
}